.section {

    margin: 24px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--accent-1);


}

.search {
    .btns {
        display: flex;

        .btn {
            width: 36px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            svg {
                fill: var(--accent-4)
            }
        }

        .btn.active {
            svg {
                fill: var(--primary-text-color)
            }
        }

    }

}

.content {
    flex: 1 1 0;

    .items {

        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        .item:hover {
            background-color: var(--background-hover-color)
        }

        .item {
            width: 100%;
            min-width: 140px;
            min-height: 160px;
            max-width: 160px;
            border: var(--border-default);
            border-radius: 4px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .icon {
                width: 100%;
                background-color: var(--background-color);
                min-height: 120px;
                position: relative;
                display: flex;
                border-radius: 4px;
                justify-content: center;
                align-items: center;
                padding: 12px;
                fill: var(--accent-1);

                .type {
                    position: absolute;
                    font-family: 'Pretendard';
                    font-weight: 600;
                    font-size: 12px;


                }
            }

            .info {
                display: flex;
                align-items: center;
                border-top: var(--border-default);
                width: 100%;

                .title {

                    font-family: 'Pretendard';
                    font-size: 14px;
                    font-weight: 500;
                    padding: 12px;
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    word-break: keep-all;
                    text-overflow: ellipsis;
                    flex: 1 1 0;

                }

                .more {
                    height: auto;
                    flex: 0 1 24px;
                    fill: var(--accent-1);

                }

                .more:hover {
                    svg {
                        background-color: var(--accent-5);
                        border-radius: 10px;
                    }
                }

            }
        }

    }
}

// pid.tsx

.header_container {
    display: flex;
    flex-direction: column;


    padding: 24px;
    border-bottom: var(--border-default);

    .title {
        padding: 0 0 12px 0;
        border-bottom: var(--border-default);

        div {

            outline: none;
        }
    }




    .menus {
        display: flex;
        gap: 10px;
        font-family: 'Pretendard';
        font-weight: 500;
        font-size: 14px;

        .menu {
            margin: 4px 0;
            cursor: pointer;
        }

    }
}