.menu {
    z-index: 2023;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 200px;


    .menu_items {
        display: flex;
        flex-direction: column;
        margin: 4px 6px;

        .menu_item {
            border-radius: 4px;
            width: 100%;
            padding: 4px 6px;
            margin: 4px 0 ;
            word-break: keep-all;
            white-space: nowrap;
            font-weight: 400;
            font-size: 14px;
            color: rgb(56, 56, 56);
            fill: rgb(56, 56, 56);
            display: flex;
            align-items: center;
            .text{
                margin-left: 6px;
                flex: 1 1 0;
            }
            .search{
                width: 100%;
                padding-left:4px ;
            }
            
        }

        .menu_item:hover {
            background-color: rgb(244, 244, 244);
        }
    }
}