:root{
    // colors
    --primary-brand-color:#fff;

    --alert-c1:rgb(255, 100, 100);
    --alert-c2:rgb(255, 75, 75);
    --alert-c3:rgb(255, 50, 50);
    --alert-c4:rgb(255, 25, 25);
    
    //border

    //


}