.page_title {
    margin: 24px;
    font-size: 18px;
    font-weight: 600;
}


// conponent style

.list_container {

    .list {
        margin: 24px;
        border: var(--border-default);

        .list_row {
            width: 100%;
            background-color: var(--component-color);
            display: flex;
            align-items: center;

            .column_1 {
                margin: 16px;

                flex: 1 1 0;

                .title {
                    font-weight: 500;

                }

                .info {
                    font-size: 12px;
                }
            }

            .column_2 {
                margin: 16px 24px;
                .more_info{
                    cursor: pointer;
                    font-size: 14px;
                    
                }

            }
        }
        .list_row{
            
            
        }
    }
}