@keyframes sidebar_sub_link-openAnimation {
    0% {

        opacity: 0;
        display: none;

    }

    100% {

        opacity: 1;
        display: block;


    }
}

@media print {
    .nav_container {
        display: none !important;
    }

    @page {
        margin: 0;
        page-break-after: always;
    }
}

.nav_container {
    border-right: var(--border-default);
    background-color: var(--component-color);
    color: var(--accent-1);
    display: flex;
    flex-direction: column;
    max-width: 240px;
    min-width: 240px;
    width: 100%;
    overflow-y: hidden;
    transition: max-width 0.3s;
    transition: min-width 0.3s;
    height: 100vh;

    .nav_logo {
        display: flex;
        align-items: center;
        height: 56px;
        padding: 8px;
        border-bottom: var(--border-default);
        word-break: keep-all;

        .icon {
            min-width: 24px;
            cursor: pointer;
            margin: 0 8px;
            fill: var(--accent-1);

        }

        .logo {
            font-family: 'Pretendard';
            font-weight: 500;
            font-size: 15px;
            letter-spacing: -0.25px;
            flex: 1 1 0;
            padding: 4px 8px;
            cursor: pointer;
            word-break: keep-all;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .caret {
            cursor: pointer;
            min-width: 16px;
            width: 16px;
            fill: var(--accent-1);
            flex-basis: 16px;
        }


    }

    .search_container {
        height: 52px;
        display: flex;


        .search {
            // background-color: aliceblue;

            margin: 8px;
            display: flex;
            flex: 1 1 0;

            align-items: center;

            .search_input {
                width: 100%;
                background-color: transparent;
                flex: 1 1 0;
                border: none;
                outline: none;

            }

            .icon {
                height: 24px;
                min-height: 24px;
                width: 24px;
                min-width: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 8px;


                svg {
                    fill: var(--accent-4)
                }
            }
        }
    }

    .nav_links {
        flex: 1 1 0;

        .nav_link_container {
            display: flex;
            flex-direction: column;

            .nav_link {
                display: flex;
                margin: 4px 8px;
                padding: 6px 0;
                align-items: center;
                cursor: pointer;

                border-radius: 8px;

                .icon {
                    min-height: 24px;
                    height: 24px;
                    min-width: 24px;
                    width: 24px;
                    margin: 0 8px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {


                        fill: var(--accent-4)
                    }

                }

                .name {
                    word-break: keep-all;
                    white-space: nowrap;
                    font-weight: 600;
                    font-family: 'Pretendard';
                    width: 100%;
                    font-size: 13px;
                    flex: 1 1 0;
                    color: var(--accent-4)
                }
            }

            .nav_link:hover {
                background-color: var(--component-hover-color);
            }

            .sub_links {
                max-height: 0;
                display: none;
                position: relative;
            }



            .sub_link_container {
                opacity: 0;
                height: 0;

                .sub_link:hover {
                    background-color: var(--component-hover-color);
                }



                .sub_link {

                    display: flex;
                    margin: 2px 14px 2px 36px;
                    padding: 6px 0;
                    flex: 1 1 0;
                    gap: 12px;
                    align-items: center;
                    cursor: pointer;

                    border-radius: 8px;

                    .icon {
                        display: flex;
                        min-height: 24px;
                        height: 24px;
                        min-width: 24px;
                        width: 24px;
                        margin: 0 0 0 6px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {

                            fill: var(--accent-4)
                        }

                    }

                    .name {
                        word-break: keep-all;
                        white-space: nowrap;
                        flex: 1 1 0;
                        color: var(--accent-4);
                        font-weight: 600;
                        font-family: 'Pretendard';
                        width: 100%;
                        font-size: 13px;
                    }

                }


            }
        }

        // when active
        .nav_link_container.active {
            .nav_link {
                background-color: var(--canvas-color);
                box-shadow: var(--component-box-shadow);

                .icon {
                    svg {
                        fill: var(--primary-text-color);
                    }
                }

                .name {
                    color: var(--primary-text-color);
                }
            }


            .sub_links {
                max-height: 100vh;
                display: block;
                transition: max-height 1s linear;
                z-index: 2;

                .sub_link_container {
                    height: auto;
                    animation-name: sidebar_sub_link-openAnimation;
                    opacity: 1;

                }

            }

            .sub_link.active {

                background-color: var(--canvas-color);
                box-shadow: var(--component-box-shadow);

                svg {
                    fill: var(--primary-text-color);
                }

                .name {
                    color: var(--primary-text-color);
                }
            }

            .sub_links::before {
                content: '';
                position: absolute;
                left: 24px;
                width: 2px;
                background-color: var(--accent-5);
                opacity: .5;
                max-height: 100vh;
                height: 82%;
                top: 9%;
                z-index: 0;
            }

            @for $i from 1 through 10 {
                .sub_links .sub_link_container:nth-child(#{$i}n) {
                    animation-duration: #{$i * 0.7}s;

                }
            }


        }
    }

    .nav_profile_container {
        border-top: var(--border-default);
        display: flex;

        .nav_profile {
            flex: 1 1 0;
            margin: 8px;
            display: flex;
            gap: 14px;
            align-items: center;

            .profile_img {
                img {
                    border-radius: 24px;
                    max-width: 40px;
                    width: 40px;
                    max-height: 40px;
                    height: 40px;
                    object-fit: cover;
                    cursor: pointer;
                }

            }

            .profile_info {
                flex: 1 1 0;
                word-break: keep-all;
                white-space: nowrap;

                .username {
                    cursor: pointer;
                }

                .role {
                    font-size: 12px;
                    font-weight: 500;
                    color: var(--accent-4);
                }
            }

            .logout {
                cursor: pointer;

                svg {

                    fill: var(--accent-3);
                }

            }
        }
    }


}


.nav_container.close {
    max-width: 56px;
    min-width: 56px;
    transition: max-width 0.3s;
    transition: min-width 0.3s;

    .nav_logo {

        display: flex;

        .logo {
            display: none;
        }

        .caret {

            display: none;
        }
    }

    .search_container {

        .search {
            .search_input {
                display: none;
            }
        }
    }

    .nav_link_container {
        .nav_link {
            gap: 0;


            .name {
                display: none;
            }

            .icon {}
        }

        .sub_links {
            display: none;
            height: 0px;
            opacity: 0;

            .sub_link_container {
                display: none;
            }
        }
    }

    .nav_profile {
        .profile_info {
            display: none;
        }

        .logout {
            display: none;
        }
    }
}