.callout {
  background-color: var(--status-success-bg);
  border: 1px solid var(--status-success-border);

  border-radius: 8px;
  box-sizing: "border-box";
  margin: 0px;
  padding: 8px 12px;
  color: var(--accent-1);
  font-size: 1.2rem;

  display: flex;
  align-items: "center";

  .icon {
    margin-right: 8px;
    svg {
      fill: var(--status-success);
    }
  }

  .text {
    width: 100%;

    .title {
      font-weight: bold;
      font-size: 1.2rem;
    }
    .title-oneline {
      font-size: 1rem;
    }
    .description {
      margin-top: 8px;
      font-size: 1rem;
    }
  }

  //un selectable
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Edge, Opera and Firefox */
}

.info {
  background-color: var(--status-info-bg);
  border-color: var(--status-info-border);
  .icon {
    svg {
      fill: var(--status-info);
    }
  }
}

.warning {
  background-color: var(--status-warning-bg);
  border-color: var(--status-warning-border);
  .icon {
    svg {
      fill: var(--status-warning);
    }
  }
}

.error {
  background-color: var(--status-error-bg);
  border-color: var(--status-error-border);
  .icon {
    svg {
      fill: var(--status-error);
    }
  }
}
