.section {
    height: calc(100vh - 56px);
    padding: 24px;

    .title {
        font-weight: 600;
    }

    .search {
        display: flex;
        align-items: center;
        gap: 24px;
        height: 32px;

        .label {
            font-weight: 600;
            font-size: 14px;
            word-break: keep-all;
        }



    }
}