.section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    width: 600px;
    margin: 24px;
    .title{
        margin-bottom: 24px ;
        font-size: 24px;
        text-align: center;
    }
    
}