.section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .container {
        min-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
            text-align: center;
        }

    }
}