.input_container {

    display: flex;
    flex-direction: column;

    flex: 1 1 0;

    .input {
        padding: 8.5px 14px;
        font-size: 14px;
        background-color: var(--background-color);
        color: var(--accent-1);

        height: 30px;
        outline: none;
        border: var(--border-default);
        width: 100%;
    }

    .input.invaild {
        border-color: var(--alert-c1);
    }

    .label {
        font-size: 12px;
        font-family: 'Pretendard';
        font-weight: 500;
        margin-bottom: 4px;
        color: var(--accent-1);

        .required {
            padding-left: 1px;
            color: var(--alert-c1);
        }
    }

    position: relative;

    .options {
        border: var(--border-default);
        cursor: pointer;
        width: 100%;
        z-index: 2022;
        position: absolute;

        overflow: auto;
        max-height: 165px;

        top: 30px;
        left: 0px;

        background-color: var(--component-color);

        .option {
            font-size: 14px;
            color: var(--accent-1);
            height: 30px;
            display: flex;
            padding: 0 14px;
            white-space: nowrap;
            align-items: center;

        }

        .option:hover {
            background-color: var(--component-hover-color);
        }
    }
}


.input_container.flat {


    display: flex;
    flex-direction: column;

    flex: 1 1 0;

    .label {
        font-size: 12px;
        color: var(--accent-2);
        font-weight: 600;
        margin-bottom: 8px;

        .required {
            padding-left: 1px;
            color: var(--alert-c1);
        }

    }

    .input {
        height: 30px;
        outline: none;
        border: none;
        border-radius: 8px;
        background-color: var(--component-color);
        padding: 8px 18px;
        width: 100%;

    }

    .input:disabled {
        color: var(--accent-4);


    }

    .input.invalid {
        background-color: var(--alert-c1);
    }

    .options {
        border: none;
        width: 100%;
        border-radius: 8px;
        cursor: pointer;
        width: 100%;
        z-index: 2022;
        position: absolute;

        top: 60px;
        left: 0px;


        background-color: var(--component-color);


        .option {
            border-radius: 8px;
            height: 30px;
            display: flex;
            padding: 0 14px;
            white-space: nowrap;
            align-items: center;
            color: var(--accent-1);

        }

        .option:hover {

            background-color: var(--component-hover-color);

        }
    }
}