.input_container {

    display: flex;
    flex-direction: column;

    flex: 1 1 0;

    .input {
        background-color: inherit;
        color: var(--accent-1);
        padding: 8.5px 14px;
        font-size: 14px;
        outline: none;
        border: var(--border-default);
        width: 100%;
    }
    .input:disabled{
        cursor: not-allowed;

    }

    .input.invaild {
        border-color: var(--alert-c1);
    }

    .label {
        font-size: 12px;
        font-family: 'Pretendard';
        font-weight: 500;
        margin-bottom: 5px;
        color: var(--accent-1);


        .required {
            padding-left: 1px;
            color: var(--alert-c1);
        }
    }

}


.input_container.flat {

    display: flex;
    flex-direction: column;

    flex: 1 1 0;

    .label {
        font-size: 12px;
        color: var(--accent-2);
        font-weight: 600;
        margin-bottom: 5px;

        .required {
            padding-left: 1px;
            color: var(--alert-c1);
        }

    }

    .input {
        margin-top: 5px;
        outline: none;
        border: none;
        border-radius: 8px;
        background-color: var(--component-color);
        padding: 8px 18px;
        width: 100%;

    }
    .input:disabled{
        color: var(--accent-4);

        
    }

    .input.invaild {
        background-color: var(--alert-c1);
    }





}