.editor {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 24px 0;

    .selectionmenu {
        background-color: var(--background-color);
        position: fixed;
        padding: 10px;
        width: 200px;
        min-width: 180px;
        box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;

        .menus {
            .menu {}
        }
    }

    .contextmenu {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: var(--background-color);
        position: fixed;
        padding: 10px;
        width: 200px;
        min-width: 180px;
        box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 3px 6px, rgb(15 15 15 / 20%) 0px 9px 24px;

        .menus {
            display: flex;
            flex-direction: column;
            gap: 2px;


            .search {
                width: 100%;
                padding: 6px 8px;
                border: var(--border-default);
                background-color: var(--background-color);
                outline: 1px solidrgb(100, 204, 195);
                color: var(--accent-2);
                padding-right: 10px;

            }

            .menu {
                padding-right: 10px;
                position: relative;
                width: 100%;
                cursor: pointer;
                padding: 6px 4px;
                border-radius: 2px;
                font-family: 'Pretendard';
                font-weight: 500;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 4px;
                color: var(--accent-2);
                fill: var(--accent-2);

                .icon {
                    flex-basis: 16px;
                }

                .text {
                    flex: 1 1 0;
                }

                .sub_menus {
                    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
                    padding: 10px;
                    position: absolute;
                    left: 180px;
                    margin-left: 10px;
                    top: 0;
                    min-width: 120px;
                    background-color: var(--background-color);

                    .sub_menu {
                        width: 100%;
                        cursor: pointer;
                        padding: 6px 4px;
                        border-radius: 2px;
                        font-family: 'Pretendard';
                        font-weight: 500;
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        color: var(--accent-2);
                        fill: var(--accent-2);
                    }

                    .sub_menu:hover {
                        background-color: var(--background-hover-color);
                        color: var(--accent-2);
                        fill: var(--accent-2)
                    }
                }
            }

            .menu:hover {
                background-color: var(--background-hover-color);
                color: var(--accent-2);
                fill: var(--accent-2)
            }
        }
    }

    .block {
        margin: 0 24px;
        padding: 6px;
        font-size: 14px;
        font-weight: 500;
        font-family: 'Pretendard';
        border: none;


        .paragraph {
            outline: none;
        }

        .paragraph:empty:before {
            content: attr(placeholder);
            color: rgb(171, 171, 171);
            display: block;
            cursor: text;
        }



        .timetable {
            border: var(--border-default);
            border-collapse: collapse;
            width: 100%;


            th {
                border: var(--border-default);
                padding: 10px;
                outline: none;
            }

            td {
                border: var(--border-default);
                padding: 10px;
                outline: none;
            }
        }
    }

    .block:hover {
        border: var(--border-default);
        padding: 5px;
        border-radius: 4px;
    }
}

.appearance_menu {
    background-color: #fff;

    box-shadow: 0 3px 15px -3px rgb(13 20 33 / 13%);
    position: absolute;
    z-index: 2024;

    .menu_items {
        display: flex;
        align-items: center;

        .menu_item {
            cursor: pointer;
            margin: 6px;
            padding: 2px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            min-width: 20px;
        }

        .menu_item:hover {
            background-color: rgb(225, 225, 225);
        }
    }
}