.section {

    margin: 24px;

    .title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 12px;

    }

    .tab_menu_container {
        border-bottom: var(--border-default);

        display: flex;
        justify-content: center;

        .tab_menu_item {
            cursor: pointer;

            color: rgb(150, 150, 150);
            border-radius: 4px;
            display: flex;
            font-size: 14px;
            line-height: 14px;
            height: 24px;
            padding: 8px;
            justify-content: center;
            align-items: center;
            margin: 12px;
            position: relative;

        }

        .tab_menu_item.active {
            color: var(--primary-color)
        }

        .tab_menu_item.active::after {
            content: "";
            bottom: -13.5px;
            width: 100%;
            background-color: var(--primary-color);
            height: 2px;
            position: absolute;

        }
    }

    

    .form_tab {
        display: flex;


        .sidemenu {
            border-right: var(--border-default);
            min-width: 120px;
            flex: 240px 0 0;

            .items {
                display: flex;
                flex-direction: column;

                .item {
                    padding: 4px 6px;
                    margin: 4px 6px;
                    cursor: pointer;
                    border-radius: 2px;
                    color: rgb(175, 175, 175);
                }

                .item:hover {
                    background-color: rgb(225, 225, 225);
                }

                .item.active {
                    color: black;
                }
            }
        }

        .content {
            margin-left: 24px;
            flex: 1 1 0;

            .items {

                display: flex;
                flex-wrap: wrap;
                gap: 24px;

                .item:hover {
                    background-color: rgb(245, 245, 245);
                }
                .item {
                    width: 100%;
                    min-width: 140px;
                    min-height: 160px;
                    max-width: 160px;
                    border: var(--border-default);
                    border-radius: 4px;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .icon {
                        min-height: 120px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 12px;

                        svg {

                            fill: rgb(114, 114, 114);
                        }
                    }

                    .info {
                        font-family: 'Pretendard';
                        font-size: 14px;
                        font-weight: 500;
                        padding: 12px;
                        width: 100%;
                        border-top: var(--border-default);
                        white-space: nowrap;
                        overflow: hidden;
                        word-break: keep-all;
                        text-overflow: ellipsis;
                    }
                }

            }


        }
    }
}