.popup_container {
    padding: 24px;
    min-width: 320px;
    position: absolute;
    z-index: 2026;
    background-color: var(--component-color);
    .popup{

        display: flex;
        align-items: flex-start;

        .title {
            font-family: 'Pretendard';
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            flex: 1 1 0
            ;color: var(--accent-1);
        }
        
        .x {
            cursor: pointer;
            fill: var(--accent-1);
            
        }
    }
}