.popup_container {
    margin: 24px;
    min-width: 320px;

    .title {
        font-family: 'Pretendard';
        font-size: 18px;
        font-weight: 600;
        margin: 0;
        flex: 1 1 0
    }

    .x {
        cursor: pointer;

    }
}