.section {
  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .row {
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 12px;
  }
}
