.form_container {
    display: flex;
    flex-direction: column;

    .form_column {
        display: flex;
        flex-direction: row;

    }

    .form_row {
        display: flex;
        flex-direction: column;

    }

    .form_input_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 12px;


        .form_input_lable {
            font-size: 0.875rem;
        }

        .required.form_input_lable::after {
            content: " *";
            color: var(--alert-c1)
        }

        .form_input {
            padding-left: 16px;
            height: 48px;
            width: 100%;
            outline: none;
            border: none;
        }
    }

    .form_submit {
        cursor: pointer;
        border: none;
        background: black;
        color: white;
        padding: 14px;
    }



}